@page "/game-lobby"
@inject NavigationManager navManager

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            hehe
        </Authorized>
        <NotAuthorized>
            <h1>You should not be here...</h1>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@code {
    private HubConnection hubConnection;
    public List<GameLobby> awailableLobbies;


    private async Task Connect()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl(navManager.ToAbsoluteUri("/gameshub"))
        .Build();

        hubConnection.On<GameLobby>("GetHub", (gameLobby) =>
        {
            awailableLobbies.Add(gameLobby);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }
}
